<div class="resto">
  <div class="head">
    <img src="{{resto.url}}">
    <div class="over_image">
      <div class="rating">
        <div class="number">4.5</div>
      </div>
    </div>
    <div class="favourite" [class.selected]="isFavourite" (click)="swipeFavourite()">
      <ion-icon src="../../../assets/icon/favourite.svg"></ion-icon>
    </div>

  </div>
  <div class="content">
    <div class="name">
      {{resto.name}}
    </div>
    <div class="details">
      <div>
        <ion-icon slot="start" src="../../../assets/icon/delivery.svg"></ion-icon>
        <div>Free delivery</div>
      </div>
      <div>
        <ion-icon slot="start" src="../../../assets/icon/clock.svg"></ion-icon>
        10-15 mins
      </div>
    </div>
    <div class="categorie">
      <div>
        bur
      </div>
      <div>
        burger
      </div>
      <div>
        burger 3
      </div>
      <div>
        burger 4
      </div>
      <div>
        burger 5
      </div>
      <div>
        burger 4
      </div>
      <div>
        burger 5
      </div>
    </div>
  </div>
</div>