.resto {
  border-radius: 20px;
  box-shadow: 10px 10px 12px rgb(211 209 216 / 85%);

  width: 266px;
  height: 250px;

  margin-right: 15px;
  margin-bottom: 20px;
  position: relative;

  .details {
    display: flex;
    margin-bottom: 8px;
    div {
      margin-right: 8px;
      display: flex;
      align-items: center;
      ion-icon {
        margin-right: 5px;
      }
    }
  }
}

.head {
    display: flex;
    justify-content: column;
  img {
    border-radius: 10px;
    width: 56.61px;
    height: 56.61px;
    object-fit: cover;
    padding-bottom: 8px;
  }
  .favourite{

  }
}

.name {
  width: 82px;
  height: 15px;
  font-weight: 600;
  //font-size: 15px;
  line-height: 15px;
  margin-bottom: 8px;
}

.content {
  margin-left: 11px;
}

.over_image {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 11px;
  width: 100%;
  padding: 0px 13px;
  .rating {
    border-radius: 15px;
    height: 15px;
    width: 15px;
    padding: 0 1px;
    background-color: var(--ion-color-warning);
    display: flex;
    align-items: center;
    font-family: "sofia_probold";
    box-shadow: 0px 7px 10px rgba(255, 197, 41, 0.5);
    .number {
      font-size: 9px;
      line-height: 9px;
      color: var(--ion-color-light);
    }
  }
  .favourite {
    border-radius: 14px;
    width: 28px;
    height: 28px;
    background-color: var(--ion-color-light);

    display: flex;
    align-items: center;
    ion-icon {
      margin: auto;
      color: var(--ion-color-medium);
      padding-top: 3px;
    }
  }
}

.selected {
  background-color: var(--ion-color-primary) !important;
  ion-icon {
    color: var(--ion-color-light) !important;
  }
}
