<ion-header [translucent]="true" class="ion-no-border header">
  <ion-toolbar>
    <div class="header_toolbar">
      <ion-button class="back_btn" (click)="goBack()">
        <img src="../../assets/icon/back.svg" />
      </ion-button>
      <div class="header_mid">My Orders</div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="main_content">
    <ion-segment [(ngModel)]="status" mode="ios" class="segment">
      <ion-segment-button value="upcoming">
        <ion-label>Upcoming</ion-label>
      </ion-segment-button>
      <ion-segment-button value="history">
        <ion-label>History</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="status">
      <div class="upcoming" *ngSwitchCase="'upcoming'">
        <div class="commandes" *ngFor="let item of commandes" [class.commandes]="item.status == 'In progress' ||  item.status== 'Confirmed'">
          <div *ngIf="item.status == 'In progress' ||  item.status== 'Confirmed'" class="commande_content">
            <div class="top">
              <div class="details">
                <div class="number">Order number : {{item.id}}</div>
                <div class="prix">Total : {{(item.prix * 1).toFixed(3)}} DT</div>
                <div class="status_in_progrss" *ngIf="item.status == 'In progress'">
                  Status : <span>In progress</span>
                </div>
                <div class="status_confirmed" *ngIf="item.status == 'Confirmed'">
                  Status : <span>Confirmed</span>
                </div>
              </div>
              <div class="products">
                <div class="item" *ngFor="let prod of item.produit">
                  {{prod.quantite}}x {{prod.name}}
                </div>
              </div>
            </div>
            <div class="bottom">
              <div class="adresse">adress : {{item.adresse}}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="upcoming" *ngSwitchCase="'history'">
        <div class="commandes" *ngFor="let item of commandes" [class.commandes]="item.status == 'Ordred' ||  item.status== 'Canceled'">
          <div *ngIf="item.status == 'Ordred' ||  item.status== 'Canceled'" class="commande_content">
            <div class="top">
              <div class="details">
                <div class="number">Order number : {{item.id}}</div>
                <div class="prix">Total : {{(item.prix * 1).toFixed(3)}} DT</div>
                <div class="status_canceled" *ngIf="item.status == 'Canceled'">
                  Status : <span>Canceled</span>
                </div>
                <div class="status_ordred" *ngIf="item.status == 'Ordred'">
                  Status : <span>Delivered</span>
                </div>
              </div>
              <div class="products">
                <div class="item" *ngFor="let prod of item.produit">
                  {{prod.quantite}}x {{prod.name}}
                </div>
              </div>
            </div>
            <div class="bottom">
              <div class="adresse">adress : {{item.adresse}}</div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
