.header_toolbar {
    margin-top: 28px;
    width: 100%;
    display: flex;
    margin-bottom: 16px;
    padding: 0% 5%;
    .back_btn {
      height: 38px;
      width: 38px;
      --background: #ffffff;
      --box-shadow: 5px 10px 20px rgba(211, 209, 216, 0.3);
      --border-radius: 12px;
      margin-right: 16%;
    }
    .menu_btn {
      height: 38px;
      width: 38px;
      border-radius: 8px;
      margin-left: 17px;
  
      background: #ffffff;
      box-shadow: 5px 10px 20px rgba(211, 209, 216, 0.3);
    }
    .menu_btn {
      margin-left: 10px;
    }
    .header_mid {
      margin-left: 10px;
      margin-right: 10px;
      padding-top: 12px;
      font-size: 16px;
      line-height: 122.3%;
      font-family: "sofia_probold";
    }
  }
  .main_content {
    padding: 0% 5%;
    height: 100%;
    .segment {
      margin: 0 26px 42px 26px;
      width: auto;
      min-width: 200px;
      height: 55px;
      background-color: #fff;
      border: 1px solid #f2eaea;
      box-sizing: border-box;
      border-radius: 27.5px;
      color: var(--ion-color-primary);
  
      ion-segment-button {
        --background-checked: var(--ion-color-primary);
        --color-checked: var(--ion-color-light);
        --indicator-color: var(--ion-color-primary) !important;
        --background-checked: transparent !important;
        margin: 6px;
        --border-radius: 200px !important;
      }
    }
    .upcoming {
      min-height: 70%;
      padding-bottom: 40px;
      .commandes {
        margin-bottom: 30px;
        min-width: 323px;
        max-width: 588px; 
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        border-radius: 18.2143px;
        padding: 10px;
        padding-bottom:20px ;
        .commande_content {
          .top {
            display: flex;
            .details {
              display: flex;
              justify-content: space-between;
              flex-direction: column;
              padding: 10px 0px; 
              width: 200px;
              height: 126px;
              .number {
                font-family: "sofia_probold";
                font-size: 16px;
              }
              .prix {
                font-family: "sofia_probold";
                font-size: 16px;
              }
              .status_canceled {
                font-family: "sofia_probold";
                font-size: 16px;
                span {
                  background-color: var(--ion-color-danger);
                  border-radius: 5px;
                  padding: 4px 10px;
                  color: #fff; 
                }
              }
              .status_in_progrss {
                font-family: "sofia_probold";
                font-size: 16px;
                span {
                  background-color: var(--ion-color-primary);
                  border-radius: 5px;
                  padding: 4px 10px;
                  color: #fff;
                }
              }
              .status_confirmed {
                font-family: "sofia_probold";
                font-size: 16px;
                span {
                  background-color: var(--ion-color-warning);
                  border-radius: 5px;
                  padding: 4px 10px;
                  color: #fff;
                }
              }
              .status_ordred {
                font-family: "sofia_probold";
                font-size: 16px;
                span {
                  background-color: var(--ion-color-success);
                  border-radius: 5px;
                  padding: 4px 10px;
                  color: #fff;
                }
              }
            }
            .products {
              height: 118px; 
              padding: 10px 0px;
              overflow: auto;
              margin: 0 5px;
              .item {
                font-family: "sofia_probold";
                font-size: 16px;
                white-space: nowrap;
                width: 100%;
                margin-bottom: 5px;
                padding: 4px 8px;
                border-radius: 7px;
                overflow: hidden;
                text-overflow: ellipsis;
                background-color: whitesmoke;
              }
            }
          }
          .bottom {
            .adresse {
              font-family: "sofia_probold";
              font-size: 16px;
              width: 95%;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }
        }
      }
    }
  }
  