<ion-content>
  <div class="main">
    <div class="top">
      <ion-button class="back_btn" (click)="goBack()">
        <img src="../../assets/icon/back.svg" />
      </ion-button>
      <div class="favourite" [class.selected]="isFavourite" (click)="swipe_favourite()">
        <ion-icon src="../../../assets/icon/favourite.svg"></ion-icon>
      </div>
      <div class="img">
        <img src="{{product?.photo}}" class="cover" />
      </div>
    </div>
    <div class="mid">
      <div class="title">{{product?.name}}</div>
      <div class="rating">
        <div class="icon">
          <ion-icon src="../../../assets/icon/star.svg"></ion-icon>
        </div>
        <div class="number">{{product?.note}}</div>
        <div class="total">(25+)</div>
        <div class="review">See review ></div>
      </div>
      <div class="order">
        <div class="prix">
          {{product?.prix}} DT
        </div>
        <div class="quantite">
          <ion-button (click)="quantite > 1 ? quantite = quantite-1 : 0"><span>-</span></ion-button>
          <div class="number">
            {{quantite}}
          </div>
          <ion-button (click)="quantite=quantite+1"><span>+</span></ion-button>
        </div>
      </div>
      <div class="description">
        {{product?.description}}
      </div>
    </div>
      <div class="groupes" *ngIf="product?.options_groupes.length > 0">
        <div class="title">
          Options
        </div>
        <div class="items_groupe">
          <div class="items" *ngFor="let options_groupe of product?.options_groupes; let i=index">
            <div class="head">
              <div class="title">{{options_groupe.name}}</div>
              <div class="min_max">
                <div class="min">
                  min : {{options_groupe.min}}
                </div>
                <div class="max">
                  max : {{options_groupe.max}}
                </div>
              </div>
            </div>
            <div class="content" *ngFor="let option of options_groupe.options;let ii=index;">
              <span class="name">{{option.name}}</span>
              <span class="prix">+{{option.prix}} DT</span>
              <div class="border">
                <ion-checkbox mode="ios" (click)="update_on_check(option.id, product_config.options_groupe[i].options); define_submit();" [disabled]="option_isDisabled(option.id,i)"></ion-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="supplements"  *ngIf="product?.supplements.length > 0">
        <div class="head">
          <div class="title">Supplements</div>
          <div class="max">
            max : {{product?.max_supplement}}
          </div>
        </div>
        <div class="items">
          <div class="content" *ngFor="let item of product?.supplements; let i = index">
            <span class="name">{{item.name}}</span>
            <span class="prix">+{{item.prix}} DT</span>
            <div class="border">
              <ion-checkbox mode="ios" (click)="update_on_check(item.id, product_config.supplements)" [disabled]="supplement_isDisabled(item.id)"></ion-checkbox>
            </div>
          </div>
        </div>
      </div>
      <div class="enlever" *ngIf="product?.ingredients.length > 0">
        <div class="title">
          Ingredient
        </div>
        <div class="items">
          <div class="content" *ngFor="let item of product?.ingredients">
            <span class="name">{{item.name}}</span>
            <div class="border">
              <ion-checkbox checked mode="ios"  (click)="update_on_check(item.id, product_config.ingredients)"></ion-checkbox>
            </div>
          </div>
        </div>
      </div>
      <ion-button class="add_button" (click)="on_submit()" [disabled]="!allow_submit" [routerLink]="['/tabs/tab3']" routerLinkActive="router-link-active" >
        <div class="icon">
          <ion-icon slot="start" src="../../assets/icon/panier.svg"></ion-icon>
        </div>
        <div class="title">ADD TO CART</div>
      </ion-button>
  </div>
</ion-content>
