.main {
  padding: 4%;
  .top {
    padding-bottom: 22px;
    position: relative;
    .back_btn {
      position: absolute;
      top: 2px;
      left: -11px;
      height: 38px;
      width: 38px;
      border-radius: 8px;
      margin-left: 17px;
      --background: #ffffff;
      --box-shadow: 5px 10px 20px rgba(211, 209, 216, 0.3);
      --border-radius: 12px;
    }
    .favourite {
      border-radius: 14px;
      width: 28px;
      height: 28px;
      background-color: var(--ion-color-light);
      display: flex;
      top: 9px;
      right: 9px;
      position: absolute;
      ion-icon {
        margin: auto;
        color: var(--ion-color-medium);
        padding-top: 3px;
      }
    }
    .selected {
      background-color: var(--ion-color-primary) !important;
      ion-icon {
        color: var(--ion-color-light) !important;
      }
    }

    .img {
      width: 100%;
      height: 206px;
      .cover {
        border-radius: 15px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .mid {
    .title {
      font-family: "sofia_probold";
      font-size: 31px;
      line-height: 115%;
      text-align: left;
      margin-bottom: 17px;
    }
    .rating {
      display: flex;
      justify-content: left;
      div {
        margin: 0 4px;
      }
      .icon {
        ion-icon {
          margin-top: 4px;
        }
      }
      .number {
        line-height: 22px;
        font-family: "sofia_probold";
      }
      .total {
        line-height: 22px;
        font-size: 14px;
        color: var(--ion-grey);
      }
      .review {
        padding-left: 10px;
        font-size: 12px;
        line-height: 25px;
        color: var(--ion-color-primary);
      }
    }
    .order {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 20px;
      .prix {
        font-size: 30px;
      }
      .quantite {
        display: flex;
        flex-direction: row;
        ion-button {
          width: 30px;
          height: 30px;
          --border-radius: 50% !important;
          span {
            font-size: 35px;
            padding-bottom: 11px;
          }
        }
        .number {
          font-size: 25px;
          padding: 0px 5px;
          font-family: "sofia_probold";
          width: 40px;
          text-align: center;
        }
      }
    }
    .description {
      margin-bottom: 26px;
      font-size: 15px;
      line-height: 150%;
      color: var(--ion-grey);
    }
  }
  .groupes {
    .title {
      font-family: "sofia_probold";
      font-size: 18px;
      margin-bottom: 20px;
    }
    .items_groupe {
      .items {
        padding-left: 35px;
        padding-bottom: 12px;
        .head {
          display: flex;
          justify-content: space-between;
          height: 50px;
          .title { 
            margin-right: 4px;
          }
          .min_max {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            width: 126px;
            min-width: 133px;
            height: 42px;
            margin-top: 4px;
            font-size: 14px;
            .min,
            .max {
              background-color: var(--ion-color-warning);
              width: 64px;
              padding: 5px; 
              border-radius: 5px;
            }
          }
        }
        .content {
          display: flex;
          justify-content: left;
          margin-bottom: 10px;
          padding-left: 30px;
          .name {
            font-size: 14px;
            width: 150px;
            font-family: "sofia_probold";
            transform: scale(1, 1.15);
          }
          .prix {
            font-size: 14px;
            color: var(--ion-grey);
            margin-right: 20px;
            width: 75px;
          }
          .border {
            border-radius: 50%;
            border: 1px solid rgba(212, 213, 218, 0.7);
            padding: 1px;
            height: 30px;
            ion-checkbox {
              --border-width: 0px;
            }
          }
        }
      }
    }
  }
  .supplements {
    max-width: 384px;
    .head {
      display: flex;
      justify-content: space-between;
      .title {
        font-family: "sofia_probold";
        font-size: 18px;
        margin-bottom: 20px; 
      }
      .max {
        background-color: var(--ion-color-warning);
        min-width: 60px;
        padding: 5px;
        margin-bottom: 20px;
        margin-top: 2px;
        border-radius: 5px;
        font-size: 14px;
      }
    }
    .items {
      padding-left: 35px;
      padding-bottom: 12px;
      .content {
        display: flex;
        justify-content: left;
        margin-bottom: 10px;
        .name {
          font-size: 14px;
          width: 150px;
          font-family: "sofia_probold";
          transform: scale(1, 1.18);
        }
        .prix {
          font-size: 14px;
          color: var(--ion-grey);
          margin-right: 48px;
          width: 23%;
        }
        .border {
          border-radius: 50%;
          border: 1px solid rgba(212, 213, 218, 0.7);
          padding: 1px;
          height: 30px;
          ion-checkbox {
            --border-width: 0px;
          }
        }
      }
    }
  }
  .enlever {
    .title {
      font-family: "sofia_probold";
      font-size: 18px;
      margin-bottom: 20px;
    }
    .items {
      padding-left: 35px;
      padding-bottom: 12px;
      .content {
        display: flex;
        justify-content: left;
        margin-bottom: 10px;
        .name {
          font-size: 14px;
          width: 235px;
          font-family: "sofia_probold";
          margin-right: 40px;
          transform: scale(1, 1.15);
        }
        .border { 
          ion-checkbox {
            --border-width: 1px; 
          }
        }
      }
    }
  }
  .add_button {
    display: flex;
    justify-content: space-between;
    width: 174px;
    height: 53px;
    --border-radius: 28.5px;
    --box-shadow: 0px 20px 30px rgba(254, 114, 76, 0.25);
    margin: auto;
    .icon {
      background: var(--ion-color-light);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: 10px;
      ion-icon {
        width: 25px;
        height: 25px;
        color: var(--ion-color-primary);
        padding: 6px 12px 12px 9px;
      }
    }
    .title {
      margin-right: 9px;
    }
  }
}
