<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-button class="back_btn" [routerLink]="'/tabs'">
      <img src="../../assets/icon/back.svg" />
    </ion-button>
    <ion-title> Favourites </ion-title>
    <img src="../../assets/image/user.png" slot="end" class="header_img" />
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="main-content">
    <ion-segment [(ngModel)]="status" mode="ios" class="segment">
      <ion-segment-button value="Restaurant">
        <ion-label>Restaurant</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Food Items">
        <ion-label>Food Items</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="status">
      <div class="restaurants" *ngSwitchCase="'Restaurant'">
        <div class="component_restaurants" *ngFor="let item of restaurants">
					<app-restaurant [resto]="item" [routerLink]="['/restaurant-detail/'+item.id]">
					</app-restaurant>
				</div>
      </div>
      <div class="restaurants" *ngSwitchCase="'Food Items'">
        <div class="component_products" *ngFor="let item of products" >
          <app-product [resto]="item" [routerLink]="['/product-detail/'+item?.id]"></app-product>
        </div>
      </div>
    </div>
  </div>
</ion-content>
