.back_btn {
    height: 38px;
    width: 38px;
    border-radius: 8px;
    margin-left: 17px;
  
    --background: #ffffff;
    --box-shadow: 5px 10px 20px rgba(211, 209, 216, 0.3);
    --border-radius: 12px;
  }
  
  ion-toolbar {
    padding-top: 15px !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border: 1px solid #a1a1a11a;
  }
  
  .header_mid {
    margin-left: 10px;
    margin-right: 10px;
  
    font-size: 16px;
    line-height: 122.3%;
    font-family: "sofia_probold";
  }
  
  .header_img {
    height: 38px;
    width: 38px;
    border-radius: 8px;
    margin-right: 27px;
  }
  
  .main_title {
    margin-left: 25px;
    margin-right: 30px;
    margin-bottom: 17px;
  
    font-family: "sofia_probold";
    font-size: 30px;
    line-height: 30px;
  }
  
  .main_search {
    display: flex;
    margin: 10px 25px 32px 25px;
  }
  
  .input_search {
    margin-right: 18px;
  
    font-family: "sofia_proregular";
    font-size: 14px;
    line-height: 14px;
  
    border: 1px solid #e7e7e7;
    border-radius: 10px;
    box-shadow: 15px 20px 45px rgb(233 233 233 / 25%);
    --border-width: 1px;
    background-color: var(--ion-color-light);
  
    img {
      margin: 19px 0px 19px 19px;
    }
  }
  
  .btn_filtre {
    height: 51px;
    width: 51px;
    display: flex;
  
    border-radius: 8px;
    box-shadow: 5px 10px 20px rgba(211, 209, 216, 0.3);
    img {
      margin: auto;
    }
  }
  
  .selected {
    background-color: var(--ion-color-primary);
    color: black;
  }
  
  .segment {
    margin: 0 26px 42px 26px;
    width: auto;
    min-width: 200px;
    height: 55px;
    background-color: #fff;
    border: 1px solid #f2eaea;
    box-sizing: border-box;
    border-radius: 27.5px;
    color: var(--ion-color-primary);
  
    ion-segment-button {
      --background-checked: var(--ion-color-primary);
      --color-checked: var(--ion-color-light);
      --indicator-color: var(--ion-color-primary) !important;
      --background-checked: transparent !important;
      margin: 6px;
      --border-radius: 200px !important;
    }
  }
  
  .restaurants {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 28px;
    margin-top: 46px;
    padding: 0 7px;
  
    .first {
      font-size: 31px;
      line-height: 115%;
      width: 156px;
      height: 70px;
      padding: 11px;
      margin: 0 3px 20px;
    }
  }
  
  @media screen and (max-width: 511px) and (min-width: 344px) {
    .restaurants .resto:nth-child(2n + 1) {
      margin-top: -90px !important;
    }
  }
  @media screen and (max-width: 499px) and (min-width: 338px) {
    .restaurants app-product:nth-child(2n + 1) {
      margin-top: -133px !important;
    }
  }
  
  /* resto */
  
  .resto {
    padding: 11px;
    border-radius: 20px;
    box-shadow: 10px 10px 12px rgb(211 209 216 / 85%);
  
    height: 173px;
    width: 156px;
  
    position: relative;
    margin: 0px 12px 19px 0;
  }
  
  .resto_head {
    display: flex;
    justify-content: space-between;
    padding-bottom: 28px;
  
    img {
      position: relative;
      border-radius: 10px;
      width: 56.61px;
      height: 56.61px;
      object-fit: cover;
      box-shadow: 8px 8px 16px #bebebe, -8px -8px 16px #ffffff;
    }
  
    .over_image {
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 7px;
      left: 45px;
      width: 100%;
      padding: 0px 13px;
      .rating {
        border-radius: 4px;
        height: 15px;
        width: 15px;
        padding: 0 1px;
        background-color: var(--ion-color-warning);
        display: flex;
        align-items: center;
        font-family: "sofia_probold";
        box-shadow: 0px 7px 10px rgba(255, 197, 41, 0.5);
        .number {
          margin: auto;
          font-size: 9px;
          line-height: 9px;
          color: var(--ion-color-light);
        }
      }
    }
  
    .favourite {
      border-radius: 14px;
      width: 28px;
      height: 28px;
      background-color: var(--ion-color-light);
  
      display: flex;
      align-items: center;
      ion-icon {
        margin: auto;
        color: var(--ion-color-medium);
        padding-top: 3px;
      }
    }
    .selected {
      background-color: var(--ion-color-primary) !important;
      ion-icon {
        color: var(--ion-color-light) !important;
      }
    }
  }
  
  .resto_content {
    .name {
      width: 82px;
      height: 15px;
      font-weight: 600;
      //font-size: 15px;
      line-height: 15px;
      margin-bottom: 8px;
    }
    .details {
      display: flex;
      margin-bottom: 8px;
      div:first-child {
        margin-right: 5px;
      }
      div {
        display: flex;
        align-items: center;
        font-size: 12px;
        line-height: 12px;
        color: var(--ion-grey);
        ion-icon {
          margin-right: 4px;
        }
      }
    }
    .categorie {
      display: -webkit-inline-box;
      margin-bottom: 13px;
  
      max-width: 95%;
      overflow: hidden;
      div {
        margin-right: 8px;
        min-width: fit-content;
        padding: 6px;
  
        background: var(--ion-color-light);
        border-radius: 5px;
  
        white-space: nowrap;
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        font-family: "sofia_proregular";
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 12px;
        letter-spacing: 0em;
        text-align: center;
      }
    }
  }
  
  /* items */
  
  app-product {
    width: 153px;
    margin-right: 9px;
  }
  
  .component_products{
    width: 75%;
  }

  .component_restaurants{ 
    margin-bottom: 10px;
    margin-left: 15px;
    app-restaurant{
        width: 100%;
        .resto{
            width: 100%;
        }
    }
  }