.btn {
  margin-bottom: 5px;

  --background: var(--ion-color-primary);
  --border-radius: 20px;
}
.bgsvg {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 100%;
  img {
    width: 100%;
  }
  z-index: -1;
}
.login {
  margin-top: 15vh;
  margin-left: 7%;
  margin-right: 7%;
}

h1 {
  font-family: "sofia_probold";
  font-style: normal;
  font-weight: 600;
  font-size: 36.4127px;
  line-height: 120%;
  color: var(--ion-color-dark);
}

.email {
  margin-top: 31px;
  margin-bottom: 12px;
  color: var(--ion-color-dark);

  font-family: "sofia_proregular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

.email_input {
  margin-top: 12px;
  margin-bottom: 5px;

  font-family: "sofia_proregular";
  font-family: "sofia_proregular";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 17px;

  border: 1px solid var(--ion-color-medium);
  border-radius: 10px;
  box-shadow: 15px 20px 45px rgb(233 233 233 / 25%);
  --border-width: 1px;
  --highlight-height: 0px;
}

.pwd {
  margin-top: 30px;
  margin-bottom: 12px;
  color: var(--ion-color-dark);

  font-family: "sofia_proregular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

.pwd_input {
  margin-top: 12px;
  margin-bottom: 5px;

  font-family: "sofia_proregular";
  font-family: "sofia_proregular";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 17px;

  border: 1px solid var(--ion-color-medium);
  border-radius: 10px;
  box-shadow: 15px 20px 45px rgb(233 233 233 / 25%);
  --border-width: 1px;
  --highlight-height: 0px;
}

.pwd_forgot {
  margin-top: 32px;
  margin-bottom: 32px;
  // width: 200px;
  // height: 10px;

  font-family: "sofia_proregular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-align: center;

  color: var(--ion-color-primary);
}

.sign_up {
  margin-top: 30px;
  margin-bottom: 50px;

  span {
    color: var(--ion-color-primary);
  }
  span:focus {
    outline: none;
  }
  font-family: "sofia_proregular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

.item-highlight {
  --border-width: 0px;
}
.item-has-focus {
  border: 1px solid var(--ion-color-primary);
}
.form_error {
  height: 0px;
  text-align: center;
  font-size: 12px;
  color: var(--ion-color-danger);
  div{
    height: 0;
  }
}
.login_error{
  height: 0px;
  text-align: center;
  font-size: 12px;
  color: var(--ion-color-danger);
  div{
    height: 0;
  }
}

.guest{
  --background : var(--ion-color-primary);
}
.loginGuest{
  text-align: center;
}
.guestBtn{
  margin-top: 6px;
  color: var(--ion-color-primary);
}