<ion-content>
	<div class="bgsvg">
		<img src="../../assets/bg.svg" alt="" srcset="" />
	</div>
	<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
		<div class="login">
			<h1>Login</h1>
			<div class="email">Email</div>
			<ion-item class="email_input">
				<ion-input placeholder="Your mail or phone" formControlName="email"></ion-input>
			</ion-item>
			<div *ngIf="submitted && f.email.errors" class="form_error">
				<div *ngIf="f.email.errors.required">Email is required</div>
				<div *ngIf="f.email.errors.email">Invalid email</div>
			</div>
			<div class="pwd">Password</div>
			<ion-item class="pwd_input">
				<ion-input placeholder="********" [type]="showpass" formControlName="pwd"></ion-input>
				<ion-icon name="{{showpass=='text' ? 'eye-off-outline' :'eye-outline'}}" (click)="showpassword()">
				</ion-icon>
			</ion-item>
			<div *ngIf="submitted && f.pwd.errors" class="form_error">
				<div *ngIf="f.pwd.errors.required">password is required</div>
				<div *ngIf="f.pwd.errors.minlength">
					Password must be at least 6 characters long
				</div>
			</div>
			<div *ngIf="submitted" class="login_error">
				<div>{{message}}</div>
			</div>
			<div class="pwd_forgot"></div>
			<!-- <div class="pwd_forgot">Forgot your Password ?</div> -->
			<ion-button class="btn" expand="block" type="submit"> LOGIN </ion-button>
			<div class="loginGuest">
				<div>OR</div>
				<div class="guestBtn" (click)="connectAsGuest()"> Login as guest</div>
			</div>

			<div class="sign_up">
				Don't have an account ? <span routerLink="/signup">Sign Up</span>
			</div>
		</div>
	</form>
	<div></div>
</ion-content>