<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon src="../../assets/icon/home.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon src="../../assets/icon/map.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-badge *ngIf="panier?.length" mode="md" color="danger">{{panier?.length}}</ion-badge>
      <ion-icon src="../../assets/icon/panier.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon src="../../assets/icon/favourite.svg"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon src="../../assets/icon/notifications.svg"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
