.header_toolbar {
    margin-top: 28px;
    width: 100%;
    display: flex;
    margin-bottom: 16px;
    padding: 0% 5%;
    .back_btn {
      height: 38px;
      width: 38px;
      --background: #ffffff;
      --box-shadow: 5px 10px 20px rgba(211, 209, 216, 0.3);
      --border-radius: 12px;
      margin-right: 16%;
    }
    .menu_btn {
      height: 38px;
      width: 38px;
      border-radius: 8px;
      margin-left: 17px;
  
      background: #ffffff;
      box-shadow: 5px 10px 20px rgba(211, 209, 216, 0.3);
    }
    .menu_btn {
      margin-left: 10px;
    }
    .header_mid {
      margin-left: 10px;
      margin-right: 10px;
      padding-top: 12px;
      font-size: 16px;
      line-height: 122.3%;
      font-family: "sofia_probold";
    }
  }
  .main_content {
    padding: 0% 5%;
    display: flex;
    flex-direction: column;
    .adresse {
      display: flex;
      width: 100%;
      height: 70px;
      margin: 15px 0;
      ion-textarea {
        width: 100%;
        height: 100%;
        border: 0.5px solid var(--ion-color-medium);
        border-radius: 8px;
        box-shadow: 18.2143px 18.2143px 36.4286px rgb(211 209 216 / 25%); 
      }
    }
    .submit {
      display: flex;
      justify-content: space-between;
      width: 174px;
      height: 53px;
      --border-radius: 28.5px;
      --box-shadow: 0px 20px 30px rgba(254, 114, 76, 0.25);
      margin: auto;
      margin-top: 25px;
    }
  }
  .addressDisplay{
    position: relative;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    width: 100%;
    border-radius: 8px; 
  }
  .trash{
    position: absolute;
    right: 15px;
    top: 10px;
  }
  .pencil{
    position: absolute;
    right: 15px;
    bottom: 10px;
    color: #42BFA2;
  }
  .addressText{
    width: calc(100% - 25px);
  }