<ion-header [translucent]="true" class="ion-no-border header">
  <ion-toolbar>
    <div class="header_toolbar">
      <ion-button class="back_btn" (click)="goBack()">
        <img src="../../assets/icon/back.svg" />
      </ion-button>
      <div class="header_mid">My Delivery Adresses</div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="main_content">
    <div *ngIf="addNewAddrss"  class="adresse">
      <ion-textarea [(ngModel)]="newAddress" autoFocus="true" (ionBlur)="addClientAdresse()">
      </ion-textarea>
    </div>
    <div class="adresse" *ngFor="let adresse of adresses">
      <ion-textarea *ngIf="adresse.edit" [(ngModel)]="adresse.adresse" autoFocus="true"
        (ionBlur)="update_client_adresse(adresse.id, adresse.adresse)"></ion-textarea>
      <div class="addressDisplay" *ngIf="!adresse.edit">
        <div class="addressText">{{adresse.adresse}}</div>
        <ion-icon (click)="delete(adresse.id)" color="danger" name="trash" class="trash"></ion-icon>
        <ion-icon (click)="adresse.edit=true" name="pencil" class="pencil"></ion-icon>
      </div>
    </div>
    <ion-button (click)="addNewAddrss=true" class="submit">
      Add new Addresse
    </ion-button>
  </div>
</ion-content>