<ion-header [translucent]="true" class="ion-no-border">
	<ion-toolbar>
		<div class="header_toolbar">
			<ion-buttons slot="start" class="header_btn">
				<ion-menu-button class="menu_btn">
					<img src="../../assets/icon/menu_icon.svg" class="menu_btn_img">
				</ion-menu-button>
			</ion-buttons>
			<div class="header_mid">
				<ion-item>
					<ion-label>Delivery To</ion-label>
					<ion-select [(ngModel)]="selectedAdresse" (ionChange)="setAdresse()">
						<ion-select-option *ngFor="let adresse of adresses" [value]="adresse.adresse">
							{{adresse.adresse}}</ion-select-option>
					</ion-select>
				</ion-item>
			</div>
			<img src="../../assets/image/user.png" slot="end" class="header_img">
		</div>
	</ion-toolbar>
</ion-header>
<ion-menu-toggle></ion-menu-toggle>
<ion-content [fullscreen]="true">
	<div class="main_content">
		<div class="main_title">
			What would you like to order
		</div>
		<div class="main_categories">
			<div id="cat-1" class="categorie" (click)="categorieClicked(-1)" [class.selected]="selectedCategorie==-1">
				<img src="../../assets/image/burger.png" alt="">
				<div>
					All
				</div>
			</div>
			<div *ngFor="let item of categorie" id="cat{{item.id}}" class="categorie"
				(click)="categorieClicked(item.id)" [class.selected]="selectedCategorie==item.id">
				<img src="{{item.photo}}" alt="">
				<div>
					{{item.name}}
				</div>
			</div>
		</div>
		<div class="populaire_restaurants">
			<div class="labels">
				<div class="title">
					Featured restaurants
				</div>
				<div class="view_all">
					<span (click)="onClick('Restaurant')">
						View All >
					</span>
				</div>
			</div>
			<div class="restaurants">
				<div class="component_restaurants" *ngFor="let item of restaurants">
					<app-restaurant *ngIf="isRestaurantIncludesCategorie(item)" [resto]="item"
						[routerLink]="['/restaurant-detail/'+item.id]">
					</app-restaurant>
				</div>
				<div class="empty" *ngIf="isRestaurantListEmpty()">
					<img class="emptyImg" src="../../assets/image/not-found.svg" alt="">
					<span>No data found. Try adjusting the filter settings.</span>
				</div>
			</div>
		</div>
		<div class="populaire_items">
			<div class="labels">
				<div class="title">
					Featured products
				</div>
				<div class="view_all">
					<span (click)="onClick('Food Items')">
						View All >
					</span>
				</div>
			</div>
			<div class="products">
				<div *ngFor="let item of products">
					<div class="component_products"
						*ngIf="selectedCategorie==-1 || selectedCategorie==item.id_produit_categorie">
						<app-product [resto]="item" [routerLink]="['/product-detail/'+item.id]"></app-product>
					</div>
				</div>
				<div class="empty" *ngIf="isProductListEmpty()">
					<img class="emptyImg" src="../../assets/image/not-found.svg" alt="">
					<span>No data found. Try adjusting the filter settings.</span>
				</div>
			</div>
		</div>
	</div>
</ion-content>