.menu_btn {
  height: 38px;
  width: 38px;
  border-radius: 8px;
  margin-left: 17px;
  background: #ffffff;
  box-shadow: 5px 10px 20px rgba(211, 209, 216, 0.3);
}
.menu_btn {
  margin-left: 10px;
}

.header_toolbar {
  margin-top: 28px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.header_mid {
  width: 66%;
  ion-item {
    box-shadow: 5px 10px 20px rgb(211 209 216 / 30%);
    --border-width: 0px;
    border-radius: 10px;
    font-family: "sofia_probold";
  }
  ion-label {
    --color: initial;
    display: block;
    color: var(--color);
    font-family: var(--ion-font-family, inherit);
    font-size: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "sofia_probold";
    font-size: 16px;
  }
}

.header_img {
  height: 38px;
  width: 38px;
  border-radius: 8px;
  margin-right: 27px;
}

.main_title {
  margin-left: 25px;
  margin-right: 30px;
  margin-bottom: 17px;

  font-family: "sofia_probold";
  font-size: 30px;
  line-height: 30px;
}

.main_search {
  margin-left: 25px;
  margin-right: 25px;

  display: flex;
}

.input_search {
  margin-right: 18px;

  font-family: "sofia_proregular";
  font-size: 14px;
  line-height: 14px;

  border: 1px solid #e7e7e7;
  border-radius: 10px;
  box-shadow: 15px 20px 45px rgb(233 233 233 / 25%);
  --border-width: 1px;
  background-color: var(--ion-color-light);

  img {
    margin: 19px 0px 19px 19px;
  }
}

.btn_filtre {
  height: 51px;
  width: 51px;
  display: flex;

  border-radius: 8px;
  box-shadow: 5px 10px 20px rgba(211, 209, 216, 0.3);
  img {
    margin: auto;
  }
}

.main_categories {
  overflow: auto;
  display: flex;
  margin-top: 20px; 
  .categorie {
    box-shadow: 5px 10px 20px rgba(211, 209, 216, 0.3);
    text-align: center;
    height: 100px;
    width: 58px;

    border-radius: 36px;
    margin: 15px 5px;

    img {
      margin-top: 6px;
      margin-bottom: 4px;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      object-fit: cover;
    }
    div {
      padding: 0 2px;
      white-space: nowrap;
      width: 50px;
      overflow: hidden;
      text-overflow: ellipsis;

      font-family: "sofia_proregular";
      font-size: 11px;
      text-align: center;
      margin: auto;
    }
  }
}
.selected {
  background-color: var(--ion-color-primary);
  color: #fff;
}

.labels {
  display: flex;
  justify-content: space-between;

  margin: 15px 25px 14px 25px;

  .title {
    font-family: "sofia_probold";
    font-size: 18px;
    line-height: 18px;
  }
  .view_all {
    color: var(--ion-color-primary);
    font-size: 13px;
    line-height: 13px;
  }
}

.restaurants,
.products {
  display: flex;
  overflow: auto;
  margin-left: 25px;
  margin-bottom: 28px;
  scroll-snap-type: x mandatory;
}
.component_restaurants {
  scroll-snap-align: start;
  app-restaurant {
  }
}
.populaire_items {
  .products {
    .component_products {
      scroll-snap-align: start;
      width: 214px;
      margin-right: 15px;
    }
  }
}

span:focus {
  outline: none;
}
.empty{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  img{
    width: 40px;
    margin-bottom: 5px;
  }
  span{
    max-width: 60%;
    text-align: center;
  }
}
ion-content{
  --padding-bottom : 90px;
}