.header_toolbar { 
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  .header_btn {
    height: 36px;
    width: 36px;
    display: flex;
    --border-radius: 12px;
    --box-shadow: 5px 10px 20px rgba(211, 209, 216, 0.7);
    --background: white;
    ion-menu-button {
      margin-left: 0px;
    }
  }
  .orders_btn {
    height: 36px;
    width: 36px;
    display: flex;
    --border-radius: 12px;
    --box-shadow: 5px 10px 20px rgba(211, 209, 216, 0.7);
    --background: white;
    img {
      width: 17px;
      height: 17px;
      max-width: 17px !important;
    }
  }
  .menu_btn {
    height: 38px;
    width: 38px;
    border-radius: 8px;
    margin-left: 17px;

    background: #ffffff;
    box-shadow: 5px 10px 20px rgba(211, 209, 216, 0.3);
  }
  .menu_btn {
    margin-left: 10px;
  }
  .header_mid {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 12px;
    font-size: 16px;
    line-height: 122.3%;
    font-family: "sofia_probold";
  }
}
.main_content {
  padding: 0% 5%; 
  overflow: visible;
  .products { 
    .item {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 30px;
      min-width: 323px;
      max-width: 588px;
      .img {
        height: 85px;
        width: 85px;
        min-width: 90px;
        margin-right: 20px;
        img {
          object-fit: cover;
          height: 100%;
          width: 100%;
          border-radius: 20px;
        }
      }
      .details {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 7px 0px;
        margin-right: 15px;
        width: 210px;
        // min-width: 120px;
        .name {
          font-family: "sofia_probold";
          font-size: 18px;
          line-height: 18px;
        }
        .prix {
          font-family: "sofia_probold";
          font-size: 18px;
          line-height: 18px;
        }
      }
      .buttons {
        display: flex;
        flex-direction: column;
        justify-items: end;
        width: 103px;
        height: 85px;
        justify-content: space-between;
        .close {
          display: flex;
          justify-content: flex-end;
          margin-right: 7px;
          ion-icon {
            padding: 10px;
          }
        }
        .quantite {
          display: flex;
          flex-direction: row;
          width: 103px;
          ion-button {
            width: 30px;
            height: 30px;
            --border-radius: 50% !important;
            span {
              font-size: 35px;
              padding-bottom: 11px;
            }
          }
          .number {
            font-size: 25px;
            padding: 0px 5px;
            font-family: "sofia_probold";
            width: 40px;
            text-align: center;
          }
        }
      }
    }
  }
  .info { 
    .delivery {
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 19px;
      height: 55px;
      padding-top: 10px;
      span{
        font-family: 'sofia_probold';
      }
    }
    .total{
      display: flex;
      justify-content: space-between;
      width: 100%;
      font-size: 19px;
      height: 55px;
      padding-top: 10px;
      span{
        font-family: 'sofia_probold';
      }
  }
  
  }
  .checkout { 
    .submit {
      display: flex;
      justify-content: space-between;
      width: 174px;
      height: 53px;
      --border-radius: 28.5px;
      --box-shadow: 0px 20px 30px rgba(254, 114, 76, 0.25);
      margin: auto; 
    }
  }
}
.empty-cart{
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(75vh - 150px);
  img{
    max-width: 57%;
    margin-left: -38px;
  }
}
ion-content{
  --padding-top: 30px;
  --padding-bottom: 30px;
}