<ion-header [translucent]="true" class="ion-no-border header">
  <ion-toolbar>
    <div class="header_toolbar">
      <ion-buttons slot="start" class="header_btn">
        <ion-menu-button class="menu_btn">
          <img src="../../assets/icon/menu_icon.svg" class="menu_btn_img" />
        </ion-menu-button>
      </ion-buttons>
      <div class="header_mid">Cart</div>
      <ion-button class="orders_btn" [routerLink]="['/tabs/tab5']">
        <img src="../../assets/icon/cart.svg" slot="end" class="header_img" />
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-menu-toggle></ion-menu-toggle>
<ion-content [fullscreen]="true">
  <div *ngIf="panier?.length" class="main_content">
    <div class="products">
      <div class="item" *ngFor="let item of panier; let i = index">
        <div class="img" [routerLink]="['/product-customize/'+i]">
          <img src="{{this.item.photo}}">
        </div>
        <div class="details" [routerLink]="['/product-customize/'+i]">
          <div class="name">{{item.name}}</div>
          <div class="prix">{{(item.prix*item.quantite).toFixed(3)}} DT</div>
        </div>
        <div class="buttons">
          <div class="close" (click)="delete_item(i)">
            <ion-icon src="../../assets/icon/x.svg"></ion-icon>
          </div>
          <div class="quantite">
            <ion-button (click)="quantite(i, item.quantite-1)"><span>-</span></ion-button>
            <div class="number">
              {{item.quantite}}
            </div>
            <ion-button (click)="quantite(i, item.quantite+1)"><span>+</span></ion-button>
          </div>
        </div>
      </div>
    </div>
    <div class="info">
      <div class="delivery">
        <span>Delivery</span>
        <span>{{delivery}}</span>
      </div>
      <div class="total">
        <span>Total</span>
        <span>{{total}}</span>
      </div>
    </div>
    <div class="checkout">
      <ion-button class="submit" (click)="on_submit()" [disabled]="panier?.length==0">
        <div class="title">Checkout</div>
      </ion-button>
    </div>
  </div>
  <div class="ion-text-center" *ngIf="!panier?.length">
    <h3>Your cart is empty</h3>
    <div class="empty-cart">
      <img src="../../assets/image/empty-cart.svg" alt="">
    </div>
    <ion-button routerLink="/restaurants/Restaurant" class="startShopBtn" shape="round">
      start shopping
    </ion-button>
  </div>
</ion-content>