<ion-content>
  <div class="main">
    <div class="top">
      <ion-button class="back_btn" (click)="goBack()">
        <img src="../../assets/icon/back.svg" />
      </ion-button>
      <div class="favourite" [class.selected]="isFavourite" (click)="swipe_favourite()">
        <ion-icon src="../../../assets/icon/favourite.svg"></ion-icon>
      </div>
      <div class="img">
        <img src="{{resto?.cover_photo}}" class="cover" />
        <div class="logo">
          <img src="{{resto?.photo}}" />
        </div>
      </div>
      <div class="details">
        <div class="name">{{resto?.name}}</div>
        <div class="adresse">4175 elmay djerba</div>
        <div class="categorie">
          <div *ngFor="let item of categories">{{item}}</div>
          <div>pizza</div>
          <div>burger</div>
          <div>ma9arouna</div>
        </div>
        <div class="delivery">
          <div class="price">
            <ion-icon slot="start" src="../../../assets/icon/delivery.svg"></ion-icon>
            <div>2 DT Delivery</div>
          </div>
          <div class="time">
            <ion-icon slot="start" src="../../../assets/icon/clock.svg"></ion-icon>
            10-15 mins
          </div>
        </div>
        <div class="rating">
          <div class="icon">
            <ion-icon src="../../../assets/icon/star.svg"></ion-icon>
          </div>
          <div class="number">{{resto?.note}}</div>
          <div class="total">(25+)</div>
          <div class="review">See review ></div>
        </div>
      </div>
    </div>
    <div class="mid">
      <div class="title">
        <div class="content">Featured items</div>
      </div>
      <div class="items">
        <div class="oneItem" *ngFor="let item of products">
          <app-product  [resto]="item" class="component_products"
            [routerLink]="['/product-detail/'+item.id]"></app-product>
        </div>
      </div>

    </div>
    <div class="bottom">
      <div class="categorie">
        <div [class.selected]="isChoosed==-1" (click)="swipe_categorie(-1)">
          All
        </div>
        <div *ngFor="let item of categorie" [class.selected]="isChoosed==item.id" (click)="swipe_categorie(item.id)">
          {{item}}
        </div>
      </div>
      <div class="items">
        <div class="oneItem" *ngFor="let item of choosed">
          <app-product [resto]="item" class="component_products" [routerLink]="['/product-detail/'+item.id]">
          </app-product>
        </div>
      </div>

    </div>
  </div>
</ion-content>