.main {
  padding: 20px;
  .top {
    position: relative;
    .back_btn {
      position: absolute;
      top: 2px;
      left: -12px;
      height: 38px;
      width: 38px;
      border-radius: 8px;
      margin-left: 17px;
      --background: #ffffff;
      --box-shadow: 5px 10px 20px rgba(211, 209, 216, 0.3);
      --border-radius: 12px;
    }
    .favourite {
      border-radius: 14px;
      width: 28px;
      height: 28px;
      background-color: var(--ion-color-light);
      display: flex;
      top: 10px;
      right: 10px;
      position: absolute;
      ion-icon {
        margin: auto;
        color: var(--ion-color-medium);
        padding-top: 3px;
      }
    }
    .selected {
      background-color: var(--ion-color-primary) !important;
      ion-icon {
        color: var(--ion-color-light) !important;
      }
    }
    .img {
      .cover {
        border-radius: 15px;
        width: 100%;
        height: 146px;
        object-fit: cover;
      }
      .logo {
        border-radius: 100%;
        background: white;
        padding: 9px;
        width: 104px;
        height: 104px;
        position: relative;
        margin: -50px auto 10px auto;
        img {
          border-radius: 100%;
          box-shadow: 0px 9.5849px 12.2264px rgb(125 125 125 / 29%);
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    .details {
      text-align: center;
      .name {
        text-transform: capitalize;
        font-size: 20px;
        line-height: 20px;
        text-align: center;
      }
      .adresse {
        font-size: 12px;
        line-height: 12px;
        color: var(--ion-grey);
        margin: 8px 0 16px 0;
      }
      .categorie {
        display: flex;
        justify-content: center;
        margin-bottom: 11px;
        div {
          background: var(--ion-color-light);
          border-radius: 17px;
          padding: 3px 9px;
          margin: 0 5px;
        }
      }
      .delivery {
        display: flex;
        margin-bottom: 8px;
        justify-content: center;
        div {
          margin-right: 8px;
          display: flex;
          align-items: center;
          ion-icon {
            margin-right: 5px;
          }
        }
      }
      .rating {
        display: flex;
        justify-content: center;
        div {
          margin: 0 4px;
        }
        .icon {
          ion-icon {
            margin-top: 4px;
          }
        }
        .number {
          line-height: 22px;
          font-family: "sofia_probold";
        }
        .total {
          line-height: 22px;
          font-size: 14px;
          color: var(--ion-grey);
        }
        .review {
          padding-left: 10px;
          font-size: 12px;
          line-height: 25px;
          color: var(--ion-color-primary);
        }
      }
    }
  }

  .mid {
    .title {
      display: flex;
      .content {
        font-size: 18px;
        line-height: 19px;
        padding-right: 5px;
        font-family: "sofia_probold";
        margin-bottom: 15px;
      }
    }
    .items {
      display: flex;
      overflow: auto;
      margin-bottom: 28px;
      scroll-snap-type: x mandatory;
      .component_products {
        width: 266px !important;
        margin-right: 15px;
        scroll-snap-align: start;
      }
    }
  }

  .bottom {
    .categorie {
      .selected {
        background: var(--ion-color-primary);
      }
      display: flex;
      justify-content: start;
      overflow: auto;
      margin-bottom: 19px;
      scroll-snap-type: x mandatory;
      div {
        height: 33px;
        scroll-snap-align: start;
        font-size: 15px;
        line-height: 15px;
        margin-right: 12px;
        background: var(--ion-color-light);
        border-radius: 16px;
        border: 1px solid #f2eaea;
        box-sizing: border-box;
        padding: 8px 16px 0px 15px;
      }
    }
    .items {
      display: flex;
      overflow: auto;
      margin-bottom: 28px;
      scroll-snap-type: x mandatory;
      .component_products {
        width: 266px !important;
        margin-right: 15px;
        scroll-snap-align: start;
      }
    }
  }
}
.oneItem{
  min-width: 250px;
  margin-right:  10px;
}