<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-button class="back_btn" [routerLink]="'/tabs'">
      <img src="../../assets/icon/back.svg" />
    </ion-button>
    <ion-title> Search Food </ion-title>
    <img src="../../assets/image/user.png" slot="end" class="header_img" />
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="main-content">
    <div class="main_search">
      <ion-input
        type="text"
        [placeholder]="status != 'Food Items' ?  'Find restaurants' : 'Find foods' "
        class="input_search"
        [(ngModel)]="searchKey"
        (keyup)="search()"
      >
        <img src="../../assets/icon/search.svg" class="btn_search" />
      </ion-input>
      <div class="btn_filtre" (click)="sortProiducts()">
        <img [class.asc]="sort==-1" class="ascendingIcon" src="../../assets/image/ascending-sort.svg" alt="" />
      </div>
    </div>
    <div class="main_categories">
			<div id="cat-1" class="categorie" (click)="categorie_clicked(null)" [class.selected]="!selected_categorie">
				<img src="../../assets/image/burger.png" alt="">
				<div>
					All
				</div>
			</div>
			<div *ngFor="let item of categorie" id="cat{{item.id}}" class="categorie" (click)="categorie_clicked(item)" [class.selected]="selected_categorie==item">
				<img src="{{item.photo}}" alt="">
				<div>
					{{item.name}}
				</div>
			</div>
		</div>
    <ion-segment [(ngModel)]="status" mode="ios" class="segment">
      <ion-segment-button value="Restaurant">
        <ion-label>Restaurant</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Food Items">
        <ion-label>Food Items</ion-label>
      </ion-segment-button>
    </ion-segment>
    <div [ngSwitch]="status">
      <div class="restaurants" *ngSwitchCase="'Restaurant'">
        <div class="first">Found {{restaurants?.length}} results</div>
        <div class="resto" *ngFor="let resto of restaurants" [routerLink]="['/restaurant-detail/'+resto.id]">
          <div class="resto_head">
            <img src="{{resto.photo}}">
            <div class="over_image">
              <div class="rating">
                <div class="number">4.5</div>
              </div>
            </div>
            <div class="favourite" [class.selected]="resto.is_favourite">
              <ion-icon src="../../../assets/icon/favourite.svg"></ion-icon>
            </div>
          </div>
          <div class="resto_content">
            <div class="name">{{resto.name}}</div>
            <div class="details">
              <div>
                <ion-icon
                  slot="start"
                  src="../../../assets/icon/delivery.svg"
                ></ion-icon>
                <div>2 DT</div>
              </div>
              <div>
                <ion-icon
                  slot="start"
                  src="../../../assets/icon/clock.svg"
                ></ion-icon>
                10-15 mins
              </div>
            </div>
            <div class="categorie">
              <div>PIZZA</div>
              <div>FAST FOOD</div>
            </div>
          </div>
        </div>
      </div>
      <div class="restaurants" *ngSwitchCase="'Food Items'">
        <div class="first">Found {{products?.length}} results</div>
        <app-product *ngFor="let item of products" [resto]="item" [routerLink]="['/product-detail/'+item?.id]"></app-product>
      </div>
    </div>
  </div>
</ion-content>
