.resto {
  border-radius: 20px;
  box-shadow: 10px 10px 12px rgb(211 209 216 / 85%);

  width: 100%;
  height: 210px;

  margin-right: 15px;
  margin-bottom: 20px;
  position: relative;

  img {
    border-radius: 20px 20px 27px 25px;
    width: 100%;
    height: 160px;
    object-fit: cover;
    padding-bottom: 8px;
  }
  .details {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 12px;
    color: var(--ion-grey);

    white-space: nowrap;
    width: 90%;
    height: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .categorie {
    display: flex;
    margin-left: 8px;
    margin-bottom: 13px;
    div {
      margin-right: 8px;
      padding: 0 4px;
      min-width: 54px;
      height: 22px;

      background: var(--ion-color-light);
      border-radius: 5px;
    }
  }
}

.name {
  width: 95%;
  height: 15px;
  font-weight: 600;
  //font-size: 15px;
  line-height: 15px;
  margin-bottom: 8px;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content {
  margin-left: 11px;
}

.over_image {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 11px;
  width: 100%;
  padding: 0px 13px;
  .rating {
    border-radius: 15px;
    height: 27px;
    padding: 0 8px;
    background-color: var(--ion-color-light);
    display: flex;
    align-items: center;

    .number {
      font-family: "sofia_probold";
    }
  }
  .favourite {
    border-radius: 14px;
    width: 28px;
    height: 28px;
    background-color: var(--ion-color-light);

    display: flex;
    align-items: center;
    ion-icon {
      margin: auto;
      color: var(--ion-color-medium);
      padding-top: 3px;
    }
  }
}

.selected {
  background-color: var(--ion-color-primary) !important;
  ion-icon {
    color: var(--ion-color-light) !important;
  }
}
