<div class="resto">
  <img src="{{resto.photo}}">
  <div class="over_image">
    <div class="rating">
      <div class="number">{{resto?.prix}} DT</div>
    </div>
    <div class="favourite" [class.selected]="resto.is_favourite">
      <ion-icon src="../../../assets/icon/favourite.svg"></ion-icon>
    </div>
  </div>
  <div class="content">
    <div class="name">
      {{resto?.name}}
    </div>
    <div class="details">
      #{{resto?.produit_categorie_name}}
    </div>
  </div> 
</div>