<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content class="content">
        <ion-list id="inbox-list">
          <img src="./../assets/image/avatar.svg"/>
          <ion-note>
            <div class="full_name">
              {{user?.full_name}}
            </div>
            <div class="email">
              {{user?.email}}
            </div>
          </ion-note>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected" class="menu_item">
              <img class="menu_icon" src="./../assets/icon/{{ p.icon }}.svg" />
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer class="ion-no-border">
        <ion-button (click)="logout()" expand="block" class="logout_btn">
          <img src="./../assets/icon/logout.png" >
          Log Out
        </ion-button>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
