.full_name {
  margin-top: -26px;
  margin-bottom: 8px;
  margin-left: 28px;

  font-family: "sofia_proregular";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  /* identical to box height */

  text-align: left;
  color: var(--ion-color-dark);
}

.email {
  margin-top: 8px;
  margin-left: 28px;
  margin-bottom: 34px;

  font-family: "sofia_proregular";
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;

  text-align: left;
  color: var(--ion-color-medium);
}

.menu_item {
  font-family: "sofia_proregular";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
.menu_icon {
  margin-left: 12px;
  margin-right: 20px;
}

.logout_btn {
  margin-left: 35px;
  margin-bottom: 28px;
    
  width: 117px;
  height: 40px;
  text-align: left;

  --background: var(--ion-color-primary);
  --border-radius: 20px;

  img{
    width: 25px;
    margin-right: 10px;
  }
}