<ion-content>
  <div class="bgsvg">
    <img src="../../assets/bg.svg" alt="" srcset="" />
  </div>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="div_signup">
      <h1>Sign Up</h1>
      <div class="full_name">Full name</div>
      <ion-item class="full_name_input">
        <ion-input placeholder="Your name" formControlName="fullName" ion-input></ion-input>
      </ion-item>
      <div *ngIf="submitted && f.fullName.errors" class="form_error">
        <div *ngIf="f.fullName.errors.required">Full name is required</div>
        <div *ngIf="f.fullName.errors.minlength">Full name must be at least 6 characters long</div>
      </div>
      <div class="email">Phone</div>
      <ion-item class="email_input">
        <ion-input placeholder="Your phone number" formControlName="phone" ion-input></ion-input>
      </ion-item>
      <div *ngIf="submitted && f.phone.errors" class="form_error">
        <div *ngIf="f.phone.errors.required">Phone number is required</div>
        <div *ngIf="f.phone.errors.minLength && f.phone.errors.maxLength  || !this.is_number">Invalid phone number</div>
      </div>
      <div class="email">Email</div>
      <ion-item class="email_input">
        <ion-input placeholder="Your email" formControlName="email" ion-input></ion-input>
      </ion-item>
      <div *ngIf="submitted && f.email.errors" class="form_error">
        <div *ngIf="f.email.errors.required">Email is required</div>
        <div *ngIf="f.email.errors.email">Invalid email</div>
      </div>
      <div class="pwd">Password</div>
      <ion-item class="pwd_input">
        <ion-input [type]="showpass" placeholder="********" formControlName="pwd"></ion-input>
        <ion-icon name="{{showpass=='text' ? 'eye-off-outline' :'eye-outline'}}" (click)="showpassword()"></ion-icon>
      </ion-item>
      <div *ngIf="submitted && f.pwd.errors" class="form_error">
        <div *ngIf="f.pwd.errors.required">password is required</div>
        <div *ngIf="f.pwd.errors.minlength">Password must be at least 6 characters long</div>
      </div>
      <ion-button class="btn" expand="block" type="submit"> SIGN UP </ion-button>
      <div *ngIf="submitted" class="login_error">
        <div>{{message}}</div>
      </div>
      <div class="sign_up">
        Alredy have an account ? <span routerLink="/login">Login</span>
      </div>
    </div>
  </form>
  <div></div>
</ion-content>