.resto {
  border-radius: 20px;
  box-shadow: 10px 10px 12px rgb(211 209 216 / 85%);

  width: 266px;
  height: 250px;

  margin-right: 15px;
  margin-bottom: 20px;
  position: relative;

  img {
    border-radius: 20px 20px 27px 25px;
    width: 100%;
    height: 160px;
    object-fit: cover;
    padding-bottom: 8px;
  }
  .details {
    display: flex;
    margin-bottom: 8px;
    div {
      margin-right: 8px;
      display: flex;
      align-items: center;
      ion-icon {
        margin-right: 5px;
      }
    }
  }
  .categorie {
    display: -webkit-inline-box;
    margin-bottom: 13px;

    max-width: 95%;
    overflow: hidden;
    div {
      margin-right: 8px;
      min-width: 30px; 

      background: var(--ion-color-light);
      border-radius: 5px;

      white-space: nowrap;
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 1px 7px;
    }
  }
}

.name {
  width: 90%;
  height: 15px;
  font-weight: 600;
  //font-size: 15px;
  line-height: 15px;
  margin-bottom: 8px; 
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content {
  margin-left: 11px;
}

.over_image {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 11px;
  width: 100%;
  padding: 0px 13px;
  .rating {
    border-radius: 15px;
    height: 27px;
    padding: 0 8px;
    background-color: var(--ion-color-light);
    display: flex;
    align-items: center;

    .number {
      font-family: "sofia_probold";
    }
    .icon {
      ion-icon {
        margin: 6px 4px 0 3px;
      }
    }
    .total {
      font-size: 8.18644px;
      line-height: 8px;
      color: var(--ion-grey);
    }
  }
  .favourite {
    border-radius: 14px;
    width: 28px;
    height: 28px;
    background-color: var(--ion-color-light);

    display: flex;
    align-items: center;
    ion-icon {
      margin: auto;
      color: var(--ion-color-medium);
      padding-top: 3px;
    }
  }
}

.selected {
  background-color: var(--ion-color-primary) !important; 
  ion-icon {
    color: var(--ion-color-light) !important;
  }
}
