<div class="resto">
  <img src="{{resto.photo}}">
  <div class="over_image">
    <div class="rating">
      <div class="number">{{resto?.note}}</div>
      <div class="icon">
        <ion-icon src="../../../assets/icon/star.svg"></ion-icon>
      </div>
      <div class="total">(25+)</div>
    </div>
    <div class="favourite" [class.selected]="resto.is_favourite">
      <ion-icon src="../../../assets/icon/favourite.svg"></ion-icon>
    </div>
  </div>
  <div class="content">
    <div class="name">{{resto.name}}</div>
    <div class="details">
      <div>
        <ion-icon slot="start" src="../../../assets/icon/delivery.svg"></ion-icon>
        <div>2 DT Delivery</div>
      </div>
      <div>
        <ion-icon slot="start" src="../../../assets/icon/clock.svg"></ion-icon>
        10-15 mins
      </div>
    </div>
    <div class="categorie">
      <div *ngFor="let item of categories">{{item}}</div>
    </div>
  </div>
</div>