<ion-header [translucent]="true" class="ion-no-border header">
  <ion-toolbar>
    <div class="header_toolbar">
      <ion-button class="back_btn" (click)="goBack()">
        <img src="../../assets/icon/back.svg" />
      </ion-button>
      <div class="header_mid">Modify Profile</div>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="full_name">Full name</div>
    <ion-item class="full_name_input">
      <ion-input placeholder="Your name" formControlName="fullName" ion-input></ion-input>
    </ion-item>
    <div *ngIf="submitted && f.fullName.errors" class="form_error">
      <div *ngIf="f.fullName.errors.required">Full name is required</div>
      <div *ngIf="f.fullName.errors.minlength">
        Full name must be at least 6 characters long
      </div>
    </div>
    <div class="email">Phone</div>
    <ion-item class="email_input">
      <ion-input placeholder="Your phone number" formControlName="phone" ion-input></ion-input>
    </ion-item>
    <div *ngIf="submitted && f.phone.errors" class="form_error">
      <div *ngIf="f.phone.errors.required">Phone number is required</div>
      <div *ngIf="f.phone.errors.minLength">
        Invalid phone number
      </div>
    </div>
    <div class="email">Email</div>
    <ion-item class="email_input">
      <ion-input placeholder="Your email" formControlName="email" ion-input></ion-input>
    </ion-item>
    <div *ngIf="submitted && f.email.errors" class="form_error">
      <div *ngIf="f.email.errors.required">Email is required</div>
      <div *ngIf="f.email.errors.email">Invalid email</div>
    </div>
    <ion-button class="btn" expand="block" type="submit"> SIGN UP </ion-button>
    <div *ngIf="submitted" class="login_error">
      <div>{{message}}</div>
    </div>
  </form>
</ion-content>