.header_toolbar {
  margin-top: 28px;
  width: 100%;
  display: flex;
  margin-bottom: 16px;
  padding: 0% 5%;
  .back_btn {
    height: 38px;
    width: 38px;
    --background: #ffffff;
    --box-shadow: 5px 10px 20px rgba(211, 209, 216, 0.3);
    --border-radius: 12px;
    margin-right: 16%;
  }
  .menu_btn {
    height: 38px;
    width: 38px;
    border-radius: 8px;
    margin-left: 17px;

    background: #ffffff;
    box-shadow: 5px 10px 20px rgba(211, 209, 216, 0.3);
  }
  .menu_btn {
    margin-left: 10px;
  }
  .header_mid {
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 12px;
    font-size: 16px;
    line-height: 122.3%;
    font-family: "sofia_probold";
  }
}
.btn {
  margin-top: 35px;

  --background: var(--ion-color-primary);
  --border-radius: 20px;
}
.login {
  margin-top: 15vh;
  margin-left: 7%;
  margin-right: 7%;
}

h1 {
  margin-top: 30px;
  font-family: "sofia_probold";
  font-style: normal;
  font-weight: 600;
  font-size: 36.4127px;
  line-height: 120%;
  color: var(--ion-color-dark);
}

.div_signup {
  margin-top: 13vh;
  margin-left: 7%;
  margin-right: 7%;
}

.full_name {
  margin-top: 31px;
  margin-bottom: 12px;
  color: var(--ion-color-dark);

  font-family: "sofia_proregular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

.full_name_input {
  margin-top: 12px;
  margin-bottom: 5px;

  font-family: "sofia_proregular";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 17px;

  border: 1px solid var(--ion-color-medium);
  border-radius: 10px;
  box-shadow: 15px 20px 45px rgb(233 233 233 / 25%);
  --border-width: 1px;
  --highlight-height: 0px;
}

.email {
  margin-top: 31px;
  margin-bottom: 12px;
  color: var(--ion-color-dark);

  font-family: "sofia_proregular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

.email_input {
  margin-top: 12px;
  margin-bottom: 5px;

  font-family: "sofia_proregular";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 17px;

  border: 1px solid var(--ion-color-medium);
  border-radius: 10px;
  box-shadow: 15px 20px 45px rgb(233 233 233 / 25%);
  --border-width: 1px;
  --highlight-height: 0px;
}

.pwd {
  margin-top: 30px;
  margin-bottom: 12px;
  color: var(--ion-color-dark);

  font-family: "sofia_proregular";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
}

.pwd_input {
  margin-top: 12px;
  margin-bottom: 5px;

  font-family: "sofia_proregular";
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 17px;

  border: 1px solid var(--ion-color-medium);
  border-radius: 10px;
  box-shadow: 15px 20px 45px rgb(233 233 233 / 25%);
  --border-width: 1px;
  --highlight-height: 0px;
}

.pwd_forgot {
  margin-top: 32px;
  margin-bottom: 32px;
  // width: 200px;
  // height: 10px;

  font-family: "sofia_proregular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-align: center;

  color: var(--ion-color-primary);
}

.sign_up {
  margin-top: 30px;
  margin-bottom: 30px;

  span {
    color: var(--ion-color-primary);
  }
  span:focus {
    outline: none;
  }
  font-family: "sofia_proregular";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
}

.item-highlight {
  --border-width: 0px;
}
.item-has-focus {
  border: 1px solid var(--ion-color-primary);
}
.form_error {
  height: 0px;
  text-align: center;
  font-size: 12px;
  color: var(--ion-color-warning);
  div {
    height: 0;
  }
}
.login_error {
  height: 0px;
  text-align: center;
  font-size: 12px;
  color: var(--ion-color-warning);
  div {
    height: 0;
  }
}

form {
  padding: 0% 5%;
}
